@page
@model WebAlexeev90321.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="mt-2">
    <a asp-page="Create" class="btn btn-outline-info">
        <span class="fa fa-plus-circle"> Добавить</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.RadioComponent[0].RadioComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadioComponent[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadioComponent[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadioComponent[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadioComponent[0].Group)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RadioComponent)
        {
        <tr>
            <td>
                <img src="~/Images/@item.Image" alt="NoImage" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadioComponentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.RadioComponentGroupId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RadioComponentId"
                   class="btn btn-outline-info">
                    <span class="fas fa-edit"></span>
                </a>
                <a asp-page="./Delete" asp-route-id="@item.RadioComponentId"
                   class="btn btn-outline-danger">
                    <span class="fas fa-trash-alt"></span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

